* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.header {
  background-color: rgb(188, 0, 212);
  padding: 25px 0px;
  margin: auto;
}

#project-title {
  color: rgb(255, 255, 255);
  text-shadow: rgb(3, 219, 219) 1px 1px 4px;
  text-align: center;
}

.ex-block {
  display: flex;
  margin: 15px 5px;
}

.two-blocks {
  background-color: rgb(133, 251, 255);
  border-radius: 5px;
  display: block;
  padding: 10px;
  margin: 10px 15px;
  width: 50%;
}

.two-blocks > p:first-child {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: #000 -1px 1px 4px;
}

.two-blocks .ex-statement {
  color: rgb(53, 49, 49);
  font-size: 13px;
  font-weight: bold;
}

.two-blocks .ans-block {
  display: flex;
  justify-content: center;
}

/*Exercicio 1*/
#alert_01 {
  background-color: rgba(243, 230, 241, 0.678);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

#input1, #input2, #ans-input{
  background-color: rgb(240, 232, 232);
  border: 1px solid rgb(136, 1, 136);
  border-radius: 6px;
  padding: 5px;
  margin: 0px 5px;
  width: 60px;
}

.two-blocks .ans-block>p{
  margin-top: 5px;
}

/*Exercicio 2*/
#calc01{
  border-radius: 3px;
  border: 1px solid rgb(134, 133, 133);
  cursor: pointer;
  padding: 5px;
  margin: 0px 5px;
}

#ans-input2{
  background-color: rgb(240, 232, 232);
  border: 1px solid rgb(136, 1, 136);
  border-radius: 6px;
  padding: 5px;
  margin: 0px 5px;
  width: 150px;
}

/*Exercicio 3*/
#text-Verify, #text-clear{
  border-radius: 3px;
  border: 1px solid rgb(134, 133, 133);
  cursor: pointer;
  padding: 5px;
  margin: 0px 5px;
}

/*Exercicio 4*/
.light{
  display: flex;
  align-items: center;
}

#bulb, #sec-bulb{
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 10px;
  max-width: 6rem;
  transition: .4s;
}

#bulb-two{
  margin: 0 0 27% 25%;
}

.switch{
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: 10px auto;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(43, 43, 43);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch>input:checked + .slider{
  background-color: #fbff01;
}

.switch>input:focus + .slider{
  box-shadow: 0 0 1px #fbff01;
}

.switch>input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}



